body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.for_table {
  margin: 50px auto;
  width: max-content;
}

table {
  background-color: whitesmoke;
  border-left: 1px solid darkgreen;
  border-top: 1px solid darkgreen;
  margin-top: 10px;
}

td {
  width: 60px;
  height: 40px;
  margin-top: 25px;
  line-height: 25px;
  text-align: center;
  border-bottom: 1px solid darkgreen;
  border-right: 1px solid darkgreen;
}

.active {
  background-color: darkgreen;
}

.not_founded {
  background-color: darkred;
}

.for_elements {
  margin: 0 auto;
  width: fit-content;
  display: flex;
}

#button {
  color: darkgreen;
  background-color: #fff;
  font-weight: 700;
  font-size: 100%;
  border: 2px solid darkgreen;
  border-radius: 20px;
  padding: 7px;
  margin-left: 15px;
}

#button:active {
  background-color: darkgreen;
  color: #fff;
}

#button:active,
#button:focus {
  outline: none !important;
}
#button::-moz-focus-inner {
  border: 0 !important;
}
#button:hover {
  cursor: pointer;
}
#button:disabled {
  opacity: 50%;
}

.timer {
  color: #fff;
  font-size: 120%;
  font-weight: 700;
  border-radius: 20px;
  padding: 7px;
  width: max-content;
}

.result {
  margin: 0 auto;
  width: fit-content;
  height: 30px;
  background-color: black;
  color: #eee;
  font-size: 100%;
  line-height: 30px;
  padding: 0 10px;
}
